<a href="https://colab.research.google.com/github/navyadangeti1217/python.1/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=int(input())
fact=1
for i in range(1,n+1):
    fact*=i
    print(fact)

6
1
2
6
24
120
720

In [3]:
year=int(input())
if (year%4==0 and year%100!=0)or year%400==0:
    print("leap year")
else:
    print("not leap year")

2025
not leap year

In [6]:
n=int(input())
a,b=0,1
for i in range(n):
    print(a,end=" ")
    a,b=b,a+b

7
0 1 1 2 3 5 8

In [12]:
n=int(input())
count=0
while n>0:
    n=n//10
    count+=1
    print(count)

4563
1
2
3
4

In [28]:
n=int(input())
count=0
for i in str(n):
    count+=1
    print(count)

875
1
2
3

In [32]:
n=int(input())
s=str(n)
if s==s[::-1]:
    print("palindrome")
else:
    print("not palindrome")

323
palindrome